.lesson-player {
  height: 500px;

  @include respondto(md) {
    height: 420px;
  }

  @include respondto(sm,xs) {
    height: auto;
  }
}

.section-lesson-player {
  margin-top: 25px;

  ::-webkit-scrollbar {
    display: none;
  }

  .card-lesson-list {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.03), inset 0 0 0 1px rgba(0,0,0,0.05);
    border-radius: 2px;
    margin-bottom: 10px;
    transition: box-shadow .3s ease-out;
    padding: 20px;
    margin-top: 0;
    height: 545px;
    max-height: 600px;
    overflow-y: scroll;
    a {
      color: $text-color;
      text-decoration: none;
    }

    @include respondto(sm,xs) {
      margin-top: 30px;
    }

    @include respondto(md) {
      height: 370px;
    }
  }
}

.lesson-detail {
  margin-top: 30px;
  margin-bottom: 50px;
}
.card-lesson-list {
  margin-top: 0;
  height: 445px;
  max-height: 445px;
  overflow-y: scroll;
}

.course-list {
  padding: 0;
  list-style-type: none;

  a {
    text-decoration: none;
  }

  li {
    border-bottom: 1px solid #eee;
    font-size: 18px;
    line-height: 45px;
  }

  .text-muted a {
    color: #adadad !important;
  }
}

#videoPlayer {
  position:absolute;
  top: 0;
  left: 0;
  width:100%;
  height:395px;
  background-color:aliceblue;
  opacity:0.00001;

  @include respondto(xs) {
    height:0;
  }

  @include respondto(sm) {
    height:380px;
  }

  @include respondto(md) {
    height:322px;
  }
  @include respondto(lg) {
    height:397px;
  }
}
.course-embed, .course-embed:hover {
  overflow: hidden;
  border-radius: 8px;
  background: #000;

  .controls {
    height: 45px;
    opacity: 1;
  }
}


.section-course-detail {
  margin-top: 20px;

  .section-course-cta {
    margin-bottom: 20px;
  }

  .section-course-author {
    margin-bottom: 20px;
  }

  .course-embed:after {
    width: 100px;
  }

  .course-content {
    margin-top: 20px;
  }
}

.nav-card {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    font-size: 20px;
    padding-right: 20px;

    a {
      text-decoration: none;
      color: #bdbdbd;
    }
  }

  li.active {
    a {
      font-weight: 700;
      color: #576366;
    }
  }
}

.lesson-attachment {
  width: 100%;
  height: 700px;
  margin-bottom: 30px;
}

.lesson-attachment-container {
  border-radius: 5px;
  overflow: hidden;
}