.card-exam-switch {
  h4 {
    margin-bottom: 0px;
  }
}

.tab-pane-analysis {
  line-height: 30px;
  .text-point {
    font-size: 15px;
    font-weight: bold;
  }
  .text-score {
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
  }
}

.analysis-table {
  margin-top: 20px;
  .text-score {
    font-family: $font-pinisi-bold;
    font-size: 13px
  }
  .table-striped-horizontal {
    background-color: #f6f6f6;
  }
}

.exam-list-table{
  th {
    font-family: $font-pinisi-bold;
  }
  .collapsible-row-container {
    position: relative
  }
  .clickable-more-row {
    text-align: center;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    color: transparent;
  }
  .table-row-details {
    max-width: 300px;
  }
  .table-answer th{
    padding-right: 20px;
  }
  .table-hover>tbody>tr:hover {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
  }
}

 .table-exam-header {
  th, td {
    vertical-align: middle !important;
    text-align: center !important;
    font-family: $font-pinisi-bold;
  }
 }

 .exam-answer {
   .alert {
     margin-bottom: 5px !important;
   }
 }
