// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.col-pengawas-user {
  text-align: center;
  margin: 20px 0;

  .img-pengawas-freeze {
    opacity: .2;
  }

  .pengawas-name {
    min-height: 45px;
  }

  .pengawas-information {
    min-height: 120px;
  }
}
