.login-page-container {
  background: $color-brand;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;

  a {
    color: $color-white;
  }
}

.login-page {
  position: relative;
  overflow-y: scroll;
  height: 100%;

  padding: 40px 0;
}

.login-box-header {
  text-align: center;
  h1 {
    /* Smart Edubox: */
    font-family: $font-pinisi-bold;
    font-size: 72px;
    color: $color-white;
  }
  .school-name {
    /* SMAN 12 Bandung: */
    font-size: 36px;
    color: $color-white;
  }
}

.login-box-form {
  /* Login Box: */
  background: transparentize($color-black, .9);;
  box-shadow: 0px 1px 2px 0px rgba(106,106,106,0.50);
  border-radius: 4px;
  margin: 20px 0;
  padding: 20px;

  text-align: center;

  .login-form {
    margin: 20px 0;

    .form-control:focus {
      border-color: darken($color-brand, 10%) !important;
      box-shadow: none;
    }

    .form-group {
      margin-bottom: 5px;
    }
  }
}


.news-box {
  h2 {
    text-align: center;
    margin: 40px 0;
  }
}

.news-card {
  background: $color-white;
  box-shadow: 0px 1px 2px 0px rgba(132,132,132,0.50);
  border-radius: 2px;
  padding: 20px 30px;
  transition: box-shadow .25s ease-in-out;
  cursor: pointer;
  margin: 10px 0;

  &:hover {
    box-shadow: 0px 2px 4px 0px rgba(75,75,75,0.50);
  }
}

.news-card-title h3 {
  font-family: $font-pinisi-bold;
  font-size: 18px;
  color: #6F6F6F;
  margin: 10px 0;
}

.news-card-content {
  .news-card-text {
    font-size: 14px;
    color: #6F6F6F;
  }
}

.news-card-schedule {
  ul {
    padding: 0;
  }
  li {
    display: inline;
    font-size: 13px;
    color: #6F6F6F;
    vertical-align: top;
    padding: 0 10px 0 0;

    @include respondto (xs, sm) {
      display: block;
    }
  }
  .schedule-date-near {
    color: $color-brand-red;
    font-family: $font-pinisi-bold;
  }

  .schedule-date-far {
    color: $color-brand-green;
    font-family: $font-pinisi-bold;
  }
}
