// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.prev-step, .next-step {
  @include respondto (xs) {
    margin-top: 5px;
  }
}

.btn-pn-primary {

  background: $color-brand-green;

  font-family: $font-pinisi-bold;
  color: $color-white;

  outline: 0;

  &:hover, &:active, &:focus {
    background: lighten($color-brand-green, 5%);
    color: darken($color-white, 5%);
  }
  &:visited {
    color: $color-white;
  }
}

.btn-pn-round {
  border-radius: 23px;
}

.row-btn-integrated {
  margin: 0 -20px -20px;
}

.row-btn-integrated-card {
  margin: 0 -35px -20px;
}

.btn-pn-card-integrated {
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-pn-red {
  background: $color-brand-red;

  font-family: $font-pinisi-bold;
  color: $color-white;

  outline: 0;

  &:hover, &:active, &:focus {
    background: lighten($color-brand-red, 5%);
    color: darken($color-white, 5%);
  }
  &:visited {
    color: $color-white;
  }
}


.btn-pn-gray {
  background: $color-brand-gray;

  font-family: $font-pinisi-bold;
  color: $color-white;

  outline: 0;

  &:hover, &:active, &:focus {
    background: lighten($color-brand-gray, 5%);
    color: darken($color-white, 5%);
  }
  &:visited {
    color: $color-white;
  }
}

.btn-link-pointer {
  text-decoration: none !important;
}

.btn-margin-mobile {
  margin-bottom: 5px;
}
