.col-card {
  background: $color-white;
  box-shadow: 0px 1px 2px 0px rgba(132,132,132,0.50);
  border-radius: 3px;
  padding: 20px;
  margin: 15px 0;
  transition: box-shadow .25s ease-in-out;

  &:hover {
    box-shadow: 0px 2px 4px 0px rgba(75,75,75,0.50);
  }

  h3, h4 {
    font-family: $font-pinisi-light;
    color: $color-brand-gray;
    margin-top: 0;
  }

  .toggle-top-right {
    position: absolute;
    right: 0;
    top: 5px;
  }
  .title-top-left {
    width: 80%;
    h3 {
      color: $text-color;
      margin-bottom: 0;
    }
    p {
      font-size: 14px;
      color: $color-brand-gray;
      letter-spacing: 0px;
      line-height: 18px;
    }
  }
  .row-accumulate {
    text-align: center;
    border-top: 1px solid #eee;
    margin: 0 -35px;

    .accumulate-score {
      font-size: 36px;
    }

    .accumulate-description {
      font-size: 14px;
      color: $color-brand-gray;
      line-height: 16px;
    }

    .accumulate-green {
      color: $color-brand-green;
    }
    .accumulate-red {
      color: $color-brand-red;
    }
    .accumulate-yellow {
      color: $color-brand-yellow;
    }
  }
  .row-accumulate-left, .row-accumulate-right, .row-accumulate-middle {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .row-accumulate-left, .row-accumulate-right {
    margin-bottom: -20px;
  }
  .row-accumulate-left {
    border-right: 1px solid #eee;
  }
  .row-accumulate-middle {
    border-bottom: 1px solid #eee;
  }
}

.card-floating-button {
  position: relative;

  .button-floating-right-top {
    @include respondto(md,lg) {
      position: absolute;
      top: 23px;
      right: 22px;
    }

    @include respondto(xs,sm) {
      position: relative;
      margin: 10px 0;
      text-align: center;
    }
  }
}

.col-dropdown {
  margin: 0 0 20px;
}

.col-blank-exam {
  min-height: 546px;
}

.col-blank-task {
  min-height: 590px;
}

.col-blank {
  background: transparentize(#000, .96);
  padding: 20px;
  margin: 15px 0;
  border-radius: 3px;
  transition: box-shadow .25s ease-in-out;
  position: relative;

  &:hover {
    background: transparentize(#000, .85);
    cursor: pointer
  }
  a {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: $color-brand-gray;
  }
}

.row-student-overview {
  text-align: center;
  .overview-number {
    font-size: 36px;
    color: $color-white;
    width: 100px;
    height: 100px;
    background: #ef8913;
    border-radius: 50%;
    vertical-align: middle;
    text-align:center;
    padding-top: 25px;
    position:relative; /*makes left effective*/
    display:inline-block;
  }

  .overview-description {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
    color: $color-brand-gray;
    line-height: 16px;
  }

  .overview-green {
    background-color: $color-brand-green;
  }
  .overview-red {
    background-color: $color-brand-red;
  }
  .overview-yellow {
    background-color: $color-brand-yellow;
  }
}


.col-canvas-mobile {
  padding: 0;
  padding-top: 20px;
  overflow: scroll;
}

.course-title {
  min-height: 52px;
}

.card-course-student {
  cursor: pointer;
  min-height: 300px;
  p {
    color: #6F6F6F !important;
  }
}

.course-cover-image {
  margin: -20px -35px 20px;
  overflow: hidden;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  .course-number {
    position: absolute;
    right: 10px;
    top: 0;
    color: #fff;
    opacity: 0.6;
    font-size: 40px;
  }
  .course-type {
    margin: auto;
    position: absolute;
    top: 0; left: 10px; bottom: 0; right: 0;
    color: #fff;
    opacity: 0.9;
    font-size: 40px;
  }
  img {
    width:100%;
    height: 200px;
    object-fit: cover;
  }
}