.chart-pie {
  .total {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      color: #51C553;
  }
}
