#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 275px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 275px;
    width: 0;
    height: 100%;
    margin-left: -275px;
    overflow-y: auto;
    background: $color-brand;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 275px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    background: $color-brand-gray-background;
    @include respondto (md,lg) {
      margin-top: 80px;
      min-height: 768px;
    }
    @include respondto (xs,sm) {
      margin-top: 50px
    }
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -275px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 275px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include respondto (sm,xs) {
    top: 60px;
  }

  li {
    text-indent: 35px;
    line-height: 45px;

    .sidebar-child {
      list-style: none;

      a {
        font-size: 14px;
        line-height: 35px;
        margin-left: -40px;
        padding-right: 20px;
        padding-left: 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }


    &.active {
      a {
        text-decoration: none;
        color: #fff;
        background: rgba(0,0,0,0.25);
        &:hover {
          text-decoration: none;
          color: #fff;
          background: rgba(0,0,0,0.3);
        }
        &:active, &:focus {
          text-decoration: none;
        }
      }
    }

    .btn-sidebar-action {
      float: right;
      margin-top: -35px;
      margin-right: 15px;
    }

    a {
      transition: background .05s ease-in-out;
      display: block;
      text-decoration: none;
      color: $color-white;
      font-family: $font-pinisi;
      font-size: 16px;

      .icon-sidebar {
        font-size: 13px;
        margin-right: 13px;
        margin-left: -35px;
        display: inline-block;
        width: 50px;
      }

      &:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(0,0,0,0.2);
      }
      &:active, &:focus {
        text-decoration: none;
      }
    }
  }
}

.sidebar-profile {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  .sidebar-profile-text {
    h4 {
      margin-bottom: 6px;
      padding-top: 5px;
      font-family: $font-pinisi-bold;
    }
  }
  .sidebar-profile-picture {
    float: left;
    margin-right: 10px;
  }
}

@include respondto (md,lg) {
  #wrapper {
      padding-left: 275px;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 275px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 0;
  }

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}
