.drawing-toolbox {
  margin-bottom: 20px;

  .drawing-tools {
    margin-bottom: 10px;
  }
}
.canvas-container {
  overflow-y: scroll;
  max-width: 100%;
  canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
  }

}