.input-pn {
  /* Input: */
  background: $color-white;
  border: 1px solid #ddd;
  border-radius: 6px;

  /* NIS, NIP, atau Email: */
  font-size: 14px;
  line-height: 21px;

  &:focus {
      &::placeholder {
        opacity: 0;
        transition: opacity .35s ease-in-out;
      }
    }

    &::placeholder {
      color: $color-dark-grey;
      opacity: .5;
      transition: opacity .35s ease-in-out;
    }
}

.input-pn-login {
  border: 2px solid $color-brand;
}

.input-pn-center {
  text-align: center;
}

label {
  font-family: $font-pinisi-bold;
  font-size: 14px;
  color: $color-brand-gray;
  line-height: 21px;
}

.col-sync {
  select {
    font-size: 20px;
  }
  optgroup {
    padding-bottom: 20px;
  }
  option {
    padding: 4px 20px;
    font-size: 15px;
  }
}