@font-face {
  font-family: 'mamoo-icons';
  src: url('../fonts/mamoo-icons.eot');
  src: url('../fonts/mamoo-icons.eot?#iefix') format('eot'),
    url('../fonts/mamoo-icons.woff') format('woff'),
    url('../fonts/mamoo-icons.ttf') format('truetype'),
    url('../fonts/mamoo-icons.svg#mamoo-icons') format('svg');
}

@mixin styles {
  font-family: 'mamoo-icons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

[class^='icon-'], [class*=' icon-'] {
  @include styles;
}


$svg-font-map: ('pn-calendar':'\E001', 'pn-clock':'\E002', 'pn-course':'\E003', 'pn-exam':'\E004', 'pn-grade':'\E005', 'pn-home':'\E006', 'pn-round':'\E007', 'pn-task':'\E008', 'pn-user':'\E009', );

@mixin icon($filename, $insert: before, $extend: true) {
  &::#{$insert}{ content:map-get($svg-font-map, $filename); @include styles; }
}

.icon-pn-calendar { @include icon(pn-calendar); }
.icon-pn-clock { @include icon(pn-clock); }
.icon-pn-course { @include icon(pn-course); }
.icon-pn-exam { @include icon(pn-exam); }
.icon-pn-grade { @include icon(pn-grade); }
.icon-pn-home { @include icon(pn-home); }
.icon-pn-round { @include icon(pn-round); }
.icon-pn-task { @include icon(pn-task); }
.icon-pn-user { @include icon(pn-user); }
