.jawaban {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  min-height: 30px;
}
.jawaban.empty:before {
  color: lighten($color_brand_gray, 20%);
  display: block;
  position: absolute;
  content: attr(data-placeholder);
}

.jawaban-title {
  margin-top: -10px;
  margin-bottom: 20px;
  border-bottom: none;
}
