.list-soal-container {
  display: flex;
  .list-soal {
    margin: 5px;
    min-width: 50px;
    a {
      background-color: $color-light-grey;
      color: $color-brand-gray;
      &:hover {
        background-color: $color-mid-grey;
        color: $color-white;
      }
    }
  }
}

.clock-timer {
  font-size: 25px;
  text-align: center;
  border: 1px solid #ddd;
  background: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.panel-jawaban {
  label {
    text-align: left;
    padding: 15px 15px 5px 15px;
  }
  input {
    float: right;
    margin-left: 15px;
  }
  .btn {
    white-space: normal;
  }
}

.switch-quiz-box {
  .col-card {
    @include respondto(xs,sm) {
      background: none;
      box-shadow: none;
      width: 0;
      height: 0;
      margin:0;
    }
  }
  .progress-container {
    @include respondto(xs,sm) {}
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(132, 132, 132, 0.5);
    .progress {
      margin-bottom:0;
    }
  }
  .list-soal-container {
    @include respondto(xs,sm) {
      position: fixed;
      left: 0;
      background: #fff;
      top: 52px;
      bottom: 40px;
      width: 40px;
      z-index: 10;
      overflow-y: scroll;
      overflow-x: hidden;
      box-shadow: 0px 1px 2px 0px rgba(132, 132, 132, 0.5);
      .list-soal {
        margin: 5px;
        a {
          padding:10px 0;
          max-width: 30px;
        }
      }
    }
  }
}

.container-soal-floating {
  @include respondto(xs,sm) {
    margin-left: 30px;
    margin-bottom: 50px;
  }
}