.navbar-pn {
  background: $color-white;
  box-shadow: 0px 2px 2px 0px rgba(147,147,147,0.50);
  border: 0;

  @include respondto (md, lg) {
    min-height: 80px;
  }

  .logout-button {
    .btn {
      @include respondto (xs,sm) {
        padding: 0;
        margin: 0;
        margin-top: -4px;
        margin-left: -12px;
        background: none;
        color: $color-brand-gray;
        font-size: 20px;
        font-family: $font-pinisi;
      }
    }
  }

  .navbar-collapse.collapse {
    display: block!important;
    }

    .navbar-nav>li, .navbar-nav {
    float: left !important;
    }

    .navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
    }

    .navbar-right {
    float: right!important;
    }

  .navbar-nav > li > a {
    @include respondto (md,lg) {
      padding-top: 0px;
      padding-bottom: 0px;
      line-height: 80px;
    }
  }

  .navbar-search {
    width: 100%;
    display: inline-block;
    position: absolute;

    .navbar-form-search-icon {
      padding-left: 25px;
      color: #A6A6A6;
      font-size: 16px;

      @include respondto (sm) {
        border-left: 1px solid #eee;
      }
    }

    .navbar-form-search-box {
      border: 0 transparent;
      outline: none;
      font-family: $font-pinisi-light;
      color: #A6A6A6;
      line-height: 27px;
      text-indent: 14px;
      width: 80%;
      font-size: 16px;

      @include respondto (md,lg) {
        padding: 25px;
        padding-left: 0;
      }

      @include respondto (sm) {
        padding: 11px 0 12px 0;
      }

      @include respondto (xs) {
        padding: 5px 0 10px 0;
      }
    }
  }

  .navbar-right {
    background: #fff;
    z-index: 9;
    position: relative;

    @include respondto (xs) {
      margin-top: -50px;
      margin-bottom: 0;
      li > a {
        height: 52px;
        padding-top: 20px;
      }
    }

    @include respondto (sm) {
      margin-top: -3px;
      li > a {
        height: 52px;
        padding-top: 18px;
      }
    }
  }

  .navbar-brand {
    @include respondto (md,lg) {
      height: 80px;
      width: 275px;
      font-size: 18px;
      line-height: initial;
      background-color: $color-brand-darker;
      padding: 10px 0;
      color: $color-white;
      text-transform: none;
      text-indent: 35px;

      &:focus,
      &:hover {
        background: $color-brand-darker;
        color: $color-white;
      }

      .brand-primary {
        font-family: $font-pinisi-bold;
        font-size: 24px;
        line-height: 35px;
      }

      .brand-secondary {
        font-family: $font-pinisi-light;
        font-size: 14px;
        line-height: 20px;
      }
    }

    @include respondto (xs, sm) {
      margin-top: -5px;

      .brand-primary,
      .brand-secondary {
        display: inline-block;
        letter-spacing: -1px;
        font-size: 17px;
      }

      .brand-primary {
        font-family: $font-pinisi-bold;
      }

    }

    #menu-toggle {
      margin-top: -3px;
    }
  }

  .navbar-toggle {
    border: 0;
    border-radius: 0;
  }

}
