.badge-notify{
  background-color: red;
  position:relative;
  right: 15px;
  @include respondto (xs,sm) {
    font-size: 9px;
    bottom: 8px;
    padding: 4px;
  }
  @include respondto (md,lg) {
    bottom: 15px;
    font-size: 11px;
  }
}

.notification-badge {
  @include respondto (xs,sm) {
    margin-top: 3px;
  }
  @include respondto (md,lg) {
    i {
      font-size: 28px;
    }
  }
}
.notification-bell {
  @include respondto (md,lg) {
    padding-top: 7px;
    margin-right: -20px;
    margin-bottom: -7px;
  }
  @include respondto (xs,sm) {
    margin-right: -18px;
  }
}

.dropdown-notifications {

  a {
    color: $text-color;
  }

  .media-body {
    padding-top: 0;
  }

  .dropdown-toolbar {
    padding: 15px 5px;
  }

  .dropdown-container {
    margin: 1px 0 0 0;
    border: 0;
    box-shadow: 0px 1px 2px 0px rgba(66,66,66,0.50);
    border-radius: 0px 0px 3px 3px;
    right: 0;
    left: auto;
    @include respondto (xs) {
      width: 250px;
      max-width: 250px;
    }
  }
  .dropdown-footer {
    a {
      font-family: $font-pinisi-bold;
      font-size: 14px;
      color: $text-color;
      letter-spacing: 0px;
    }
  }
  .dropdown-toolbar-title {
    font-family: $font-pinisi-bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0px;
  }
  .notification-title {
    a {
      font-family: $font-pinisi-bold;
      font-size: 14px;
      letter-spacing: 0px;
    }
  }
}
