.scrollable-table-list {
  tr {
    width: 100%;
    display: inline-table;
  }

  table {
    height:200px;
  }

  tbody {
    overflow-y: scroll;
    height: 200px;
    width: 95%;
    position: absolute;
    border: 1px solid $color-brand-gray-background;
  }
}
