.wizard {
  margin: 10px auto;
}

  .wizard .nav-tabs {
    position: relative;
    border-bottom: 0;
  }

  .wizard > div.wizard-inner {
    position: relative;
  }

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 15px;
}
span.round-tab i{
  color:#555555;
}
.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid $color-brand;
  color: $color-brand;

}
.wizard li.active span.round-tab i{
  color: $color-brand;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 25%;
}
//
// .wizard li:after {
//   content: " ";
//   position: absolute;
//   left: 44%;
//   opacity: 0;
//   margin: 0 auto;
//   bottom: 0px;
//   border: 5px solid transparent;
//   border-bottom-color: $color-brand;
//   transition: 0.1s ease-in-out;
// }
//
// .wizard li.active:after {
//   content: " ";
//   position: absolute;
//   left: 44%;
//   opacity: 1;
//   margin: 0 auto;
//   bottom: 0px;
//   border: 10px solid transparent;
//   border-bottom-color: $color-brand;
// }

.wizard-desc {
  content: " ";
  position: absolute;
  left: 44%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: $color-brand;
}

.wizard .nav-tabs > li a {
  width: 40px;
  height: 40px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

  .wizard .nav-tabs > li a:hover {
    background: transparent;
  }

.wizard .tab-pane {
  position: relative;
  padding-top: 10px;
}

.wizard h3 {
  margin-top: 0;
}

@media( max-width : 585px ) {

  .wizard {
    width: 90%;
    height: auto !important;
  }

  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}
