.nav-center {
  .nav-tabs > li, .nav-pills > li {
      float:none;
      display:inline-block;
      *display:inline; /* ie7 fix */
       zoom:1; /* hasLayout ie7 trigger */
  }

  .nav-tabs, .nav-pills {
      text-align:center;
  }
}

// Nav tabs color
.nav-tabs > li > a {
  color: $color-brand-gray;
}

.tab-content {
  margin-top: 20px;
}

.nav-tabs {
  @include respondto (xs) {
    border-bottom: none;
  }
  li {
    @include respondto (xs) {
      width: 100%;
    }
    a {
      @include respondto (xs) {
        border: 1px solid #ddd;
        border-radius: 2px;
        margin: 5px 0;
        text-align: center;
      }
    }
  }

  li.active {
    a, a:focus, a:hover {
      @include respondto (xs) {
        border: 1px solid #ddd;
        background-color: #eee;
      }
    }
  }
}
