.pn-switch {
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.pn-switch-checkbox {
    display: none;
}
.pn-switch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 0px solid #FFFFFF; border-radius: 26px;
    background-color: #9E9E9E;
}
.pn-switch-label:before {
    content: "";
    display: block; width: 26px; margin: -3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 18px;
    border-radius: 26px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
}
.pn-switch-checkbox:checked + .pn-switch-label {
    background-color: #51C553;
}
.pn-switch-checkbox:checked + .pn-switch-label, .pn-switch-checkbox:checked + .pn-switch-label:before {
   border-color: #51C553;
}
.pn-switch-checkbox:checked + .pn-switch-label .pn-switch-inner {
    margin-left: 0;
}
.pn-switch-checkbox:checked + .pn-switch-label:before {
    right: 0px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
}
