// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Pinisi font family
/// @type List
$font-pinisi: 'ProximaNova-Regular', 'Helvetica', 'Arial', sans-serif !default;
$font-pinisi-bold: 'ProximaNova-Bold' !default;
$font-pinisi-light: 'ProximaNova-Light' !default;



/// Copy text color
/// @type Color
$text-color: #555 !default;

/// Main brand color
/// @type Color
$color-brand: #00C0D2 !default;

$color-brand-darker: #007C88 !default;

/// Main brand color
/// @type Color
$color-brand-green: #2ECC71 !default;

/// Main brand color
/// @type Color
$color-brand-gray: #6F6F6F !default;

$color-brand-gray-background: #F7F7F7 !default;

/// Main brand color
/// @type Color
$color-brand-red: #D0021B !default;

$color-brand-yellow: #F39C12 !default;

/// Light grey
/// @type Color
$color-light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$color-mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$color-dark-grey: rgb(68, 68, 68) !default;

/// White
/// @type Color
$color-white: #fff !default;

/// Black
/// @type Color
$color-black: #000 !default;






/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
    'small': (min-width: 320px),
    'medium': (min-width: 768px),
    'large': (min-width: 1024px),
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
