// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// Set up a decent box model on the root element
html {
  box-sizing: border-box;
}

// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Remove outline
button:focus, a:focus {outline:0 !important;}

// Basic styles for links
a {
  color: $color-brand;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

// Remove input box shadow
.input-pn {
  box-shadow: none !important;
}

// Add pointer to accordion toggle
.accordion-toggle {
  cursor: pointer;
}

// App default text color
#page-content-wrapper {
  color: $text-color;
}
