// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold.ttf');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova-Light.ttf');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.ttf');
    /* IE9 Compat Modes */
    src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
}
