// Basic typography style for copy text
body {
  color: $text-color;
  font-family: $font-pinisi;
}

.login-heading {
  /* Masuk ke Sistem: */
  font-family: $font-pinisi-bold;
  font-size: 24px;
  color: $color-white;
  margin: 10px 0;
}

thead {
  font-family: $font-pinisi-bold;
}

.text-green {
  color: $color-brand-green;
}
.text-red {
  color: $color-brand-red;
}
.text-yellow {
  color: $color-brand-yellow;
}
.text-bold {
  font-family: $font-pinisi-bold;
}
.text-strong {
  font-weight: 700;
}

strong {
  font-family: $font-pinisi-bold;
}
