@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'utils/variables',
  'utils/functions',
  'utils/mixins';

// 2. Vendors
@import
  'vendor/bourbon/bourbon',
  'vendor/mamoo/mamoo',
  'vendor/large_grid';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
'components/button',
'components/overlay',
  'components/breadcrumbs',
  'components/card',
  'components/checkbox',
  'components/centered_pills',
  'components/chart_column',
  'components/chart_empty',
  'components/chart_pie',
  'components/drawing',
  'components/dashboard_sidebar',
  'components/expanding_table',
  'components/form',
  'components/icons',
  'components/jawaban',
  'components/loading_spinner',
  'components/list',
  'components/list_soal',
  'components/navbar',
  'components/notifications',
  'components/step_wizard',
  'components/scrollable_table_list',
  'components/table_empty',
  'components/textarea',
  'components/tabs',
  'components/thumbnail',
  'components/typeahead',
  'components/toggle';

// 6. Page-specific styles
@import
  'pages/home',
  'pages/course',
  'pages/login',
  'pages/exam_detail',
  'pages/not_found';

// 7. Themes
@import
  'themes/default';

#__bs_notify__ {
  top:auto !important;
  bottom: 0 !important;
  border-radius: 0 !important;
  background: rgba(0, 0, 0, 0.6) !important;
  border-top-left-radius: 5px !important;
  line-height: 5px;

}
